{% load static %}
<form id="contact-form" action="{% url 'publish' %}" method="post">
    <div class="row">
      {% csrf_token %}
      {% for field in message.visible_fields %}
        <div class="col-lg-12">
          <fieldset>
            <label for="{{field.id_for_label}}">{{field.label}}</label>
            {{field}}
          </fieldset>
        </div>
      {% endfor %}
      <div class="col-lg-12">
        <fieldset>
          <button type="submit" id="form-submit" class="orange-button">Send Message</button>
        </fieldset>
      </div>
    </div>
</form>