{% for x in imoveis %}
  <div class="col-lg-4 col-md-6">
    <div class="item">
      <a href=""><img src="" alt=""></a>
      <span class="category">{{ x.tipo }}</span>
      <h6>${{ x.value }}</h6>
      <h4><a href="">{{ x.andress }}</a></h4>
      <ul>
        <li>Bedrooms: <span>{{ x.bedrooms }}</span></li>
        <li>Bathrooms: <span>{{ x.bathrooms }}</span></li>
        <li>Area: <span>{{ x.area }}m2</span></li>
        <li>Floor: <span>{{ x.floor }}</span></li>
        <li>Parking: <span>{{ x.parking }} spots</span></li>
      </ul>
      <div class="main-button">
        {% if x.status == "DISPONÍVEL" %}
          <a href="">Schedule a visit</a>
        {% else %}
          <a href="#">VENDIDO</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endfor %}