{% loadstatic %}
<div id="propertiesid" class="properties section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 offset-lg-4">
          <div class="section-heading text-center">
            <h6>| Properties</h6>
            <h2>We Provide The Best Property You Like</h2>
          </div>
        </div>
      </div>
      <div class="row">
        {% for x in imoveis %}
          <div class="col-lg-4 col-md-6">
            <div class="item">
              <a href="{% url 'details' x.id %}"><img src="{{ x.path.url }}" alt=""></a>
              <span class="category">{{ x.tipo }}</span>
              <h6>${{ x.value }}</h6>
              <h4><a href="{% url 'details' x.id %}">{{ x.andress }}</a></h4>
              <ul>
                <li>Bedrooms: <span>{{ x.bedrooms }}</span></li>
                <li>Bathrooms: <span>{{ x.bathrooms }}</span></li>
                <li>Area: <span>{{ x.area }}m2</span></li>
                <li>Floor: <span>{{ x.floor }}</span></li>
                <li>Parking: <span>{{ x.parking }} spots</span></li>
              </ul>
              <div class="main-button">
                {% if x.status == "DISPONÍVEL" %}
                  <a href="{% url 'details' x.id %}">Schedule a visit</a>
                {% else %}
                  <a href="#">VENDIDO</a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>