{% extends 'layout.html' %}
{% load static %}
{% block content %}

  <!-- ***** Preloader Start ***** -->
  {% include 'partials/preloader.html'%}
  <!-- ***** Preloader End ***** -->

  {% include 'partials/user/header.html' %}

  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <span class="breadcrumb"><a href="#">Home</a> / Properties</span>
          <h3>Properties</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="section properties">
    <div class="container">
      {% include 'partials/user/imoveis.html' %}
    </div>
  </div>

  {% include 'partials/user/footer.html' %}

{% endblock %}